---
import Section from "@/layouts/Section.astro";
import { Title, Timeline } from "@/components/ui";
import { SECTIONS_IDS } from "@/helpers/adaptHeaderItems";

const { i18n } = Astro.props as { i18n: EXP }
---

<Section 
  id={SECTIONS_IDS[1]} 
  maxWidth="800px" 
  animated={true}
>
  <div class="scroll-animation w-full relative">
    <Title>{i18n.TITLE}</Title>
    <Timeline 
      client:load
      i18n={i18n} 
    />
  </div>
</Section>
