---
import Section from "@/layouts/Section.astro";
import { Title, Timeline } from "@/components/ui";

const { i18n } = Astro.props as { i18n: EXP }
---

<Section id="experience" maxWidth="800px" animated>
  <div class="scroll-animation w-full relative">
    <Title>{i18n.TITLE}</Title>
    <Timeline 
      client:load
      i18n={i18n} 
    />
  </div>
</Section>
