---
import Section from "@/layouts/Section.astro"
import { SECTIONS_IDS } from "@/helpers/adaptHeaderItems"
import { SkillsList } from "@/components/ui"

const { i18n } = Astro.props as { i18n: SKILLS }
---

<Section 
  id={SECTIONS_IDS[3]}
  maxWidth="900px"
  class="-z-20"
  animated={true}
>
  <SkillsList 
    client:load 
    title={i18n.TITLE}
  />
</Section>